body {
	width: 80%;
	height: 90%;
	margin: auto;
	color: black;
	font-family: monospace;
}

#instruments {
	width: 80%;
	height: 100%;
	float: left;
}

#master {
	float: right;
	width: 20%;
	height: 100%;
	background-color: #586e75;
	box-shadow: 8px 0px 6px -6px black;
}

#drummachine {
	width: 100%;
	color: #b58900;
	font-size: 1em;
	background-color: #002b36;
}

#drummachine-controls {
}

.drummachine-lane {
}

.drummachine-lane > .note {
	background-color: #fdf6e3;
	border: 1px solid #002b36;
}



#poly {
	background-color: rgb(240,240,240);
	color: rgb(110, 110, 110);
}

#poly-controls {
	float: right;
}

#poly-sequencer {
	float: left;
	width: 90%;
	height: 100%;
}

.poly-sequencer-lane {
	margin: 1em;
	width: 90%;
}

.poly-sequencer-lane > .note {
	background-color: #fdf6e3;
	border: 1px solid #002b36;
}

.hcontrol {
	display: inline-block;
}

.hcontrol > label {
	position: relative;
}
